body, html {
  height: 100%;


}
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
 font-size: 60px;
 font-style: italic;
 font-family: sans-serif;
 color: LightGray;
 background-color:hsl(0, 20%, 50%);">hsl(0, 20%, 50%);
}
p1 {
  font-size: 30px;
  font-family: sans-serif;
  color : LightGray;
}
input[type=myusername] {
 background-color:LightGray;
 color: Violet;
 width: 13%;
 height: 4%;
}
input[type=mypassword] {
 background-color:LightGray;
 color: Violet;
 width: 13%;
 height: 4%;
}
input[type=submit] {
  background-color:LightGray;
  font-style: oblique;
  width: 13%;
  height: 4%;
}
